<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="gov.usgs.cida.mybatis.mappers.EventTypeMapper">
 
    <resultMap id="eventTypeResultMap" type="EventType">
        <id property="eventTypeId" column="EVENT_TYPE_ID" />
        <result property="eventType" column="EVENT_TYPE" />
        <result property="eventDescription" column="EVENT_DESCRIPTION" />
    </resultMap>
    
    <select id="getAll" resultMap="eventTypeResultMap">
        SELECT
            EVENT_TYPE_ID,
            EVENT_TYPE,
            EVENT_DESCRIPTION
        FROM 
            EVENT_TYPE
    </select>
 
    <select id="getByEventTypeId" parameterType="int" resultMap="eventTypeResultMap">
        SELECT
            EVENT_TYPE_ID,
            EVENT_TYPE,
            EVENT_DESCRIPTION
        FROM 
            EVENT_TYPE
        WHERE
            EVENT_TYPE_ID = #{id}
    </select>
 
</mapper>